### RweaveExtra: Sweave drivers with extra tricks up their sleeve
###
### Copyright (C) 2021-2024 Vincent Goulet
### License: GPL 2 or later

## Imports
import(utils)

## Exports
export("RtangleExtra", "RtangleExtraSetup", "RweaveExtraLatex",
       "RweaveExtraLatexRuncode", "RweaveExtraLatexSetup",
       "RtangleExtraRuncode", "SweaveGetSourceName")
